{% extends 'Layout_front.html.twig' %}


{# {% block title %}Portfolio - Competences{% endblock %} #}

{% block content %}

 
<body class="container">
    

        <header class="row">

            <!-- NavbarPrimaire -->
            <nav class="navbar navbar-expand-lg navbar-light col-md-12 mt-4">

                <div class="col-md-2 text-center"  id="border">

                    {# <img src="../../../../../web/img/logoAlpha.png" alt="logo préhypno"> #}
                    <img src="{{ asset('img/logoAnse.png'  ) }}" 

                    <!-- + -->

                </div>

                <div class="col-md-3 text-center" id="border">

                            <address><i class="fas fa-map-marker-alt mt-2"></i>&nbsp 23 rue de la folie Méricourt<br> 75011 Paris </address>   
                    <span>
                            <button class="bouton_vert mx-auto badge-x badge-pill"><i class="fas fa-phone"></i>&nbsp 07 01 02 03 01</button>
                            </span>
                            

                </div>

                <div class="col-md-6 text-center"  id="border">

                    <h2 class="titre1 mt-2">lorem ipsum</h2>

                    <button class="bouton_vert mt-3 badge-2x badge-pill" href="rdv.php?page=rdv" target="_blank"><i class="fas fa-clock"></i> Prendre un RDV </button>
                           
                </div>

                <div class="col-md-2 text-center"  id="border">
                
                    <div class="mt-3">

                        <button class="bouton_vert mt-1 badge-2x badge-pill">Inscription</button>

                    </div>

                    <div class="mt-4">

                    <button class="mt-1 bouton_vert badge-2x badge-pill">Connexion</button>

                    </div>

                </div>

                
            </nav><!-- fin #navbarPrimaire -->

        </header>
    

    <div class="row">
        <div class="col">
            <nav class="navbar navbar-inverse navbar-lg navbar-fixed-bottom navbar-light logo"
                id="navbarSecondaire">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <!-- <button class="navbar-toggler" id="btn_nav" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button> -->

            <div class="collapse navbar-collapse text-align-center" id="navbarNav">
                <ul class="navbar-nav mt-4">
                    <li class="nav-item active ml-2">
                        <a class="nav-link "><span class="border border-light rounded-pill btn hover">L'hypnose pour qui
                                ?</span></a>
                    </li>
                    <li class="nav-item active ml-2">
                        <a class="nav-link"><span class="border border-light rounded-pill btn hover">Déroulé d'une
                                séance</span></a>
                    </li>
                    <li class="nav-item ml-2">
                        <a class="nav-link"><span class="border border-light rounded-pill btn hover">Articles</span></a>
                    </li>
                    <li class="nav-item ml-2">
                        <a class="nav-link"><span class="border border-light rounded-pill btn hover">Anne-Cecile
                                ROUGIER</span></a>
                    </li>

                  
                                


            </div>
        </nav>
    </div>
    

     <div class="row">

        <!-- PP de la Thérapeute -->
        <div class="col-md-3 offset-1 mt-4">
            <a href="prez.php?page=prez" title="qui suis-je ?"> <img src="{{ asset('img/pp.png'  ) }}" 
                    class="img-thumbnail rounded-circle" alt="photo profil"></a>
        </div><!-- Fin col-md-2 -->


        <div class="col-md-6 offset-1 mt-5">

            <!-- Titre -->
            <h2 class="mt-2 mb-5">Qu'est-ce que l'hypnose ?</h2>

            <!-- Premier paragraphe -->
            <p>Avez-vous déjà eu un problème de stress ou avez-vous déjà voulu arrêter de fumer, mais vous avez toujours échoué?</p>
            <p>Et si tu me laissais t'aider?</p>
            <a href="../prehypno_front/Qu'est-ce que l'hypnose.php"><button class="bouton_vert offset-3 mt-1 badge-2x badge-pill">Voir plus</button></a>
            <p class="offset-8 signature"> Anne-Cécile ROUGIER <br> Hypno-thérapeute</p>
          
        </div>

    </div> <!-- fin row -->

      <hr>
        <!-- LES AVANTAGES -->
        
   

            <div class="row bg-transparent mt-4 offset-1"> <!-- debut row article -->

               <div class="col-md-12">
                   <div class="card mb-2 card bg-transparent">
              
               <div class="col-md-12">
                <div class="card-body">
                  <h5 class="card-title text text-center">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                     <button class="btn bouton_vert badge-2x badge-pill" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                      En savoir plus
                     </button>
                </div>
               </div> 
              </div>
          </div>
        </div><!-- fin row article -->



            <div class="row bg-transparent mt-4 offset-1"> <!-- debut row article -->

               <div class="col-md-12">
                   <div class="card mb-2 card bg-transparent">
              
               <div class="col-md-12">
                <div class="card-body">
                  <h5 class="card-title text text-center">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                     <button class="btn bouton_vert badge-2x badge-pill" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                      En savoir plus
                     </button>
                </div>
               </div> 
              </div>
          </div>
      </div> <!-- fin row article -->



            <div class="row bg-transparent mt-4 offset-1"> <!-- debut row article -->

               <div class="col-md-12">
                   <div class="card mb-2 card bg-transparent">
              
               <div class="col-md-12">
                <div class="card-body">
                  <h5 class="card-title text text-center">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                     <button class="btn bouton_vert badge-2x badge-pill" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                      En savoir plus
                     </button>
                </div>
               </div> 
              </div>
          </div>
        </div><!-- fin row article -->
{% endblock %}
