/************************************* REGLAGES GENERAUX *************************************/
* {
  box-sizing: border-box;
}
body {
  background-color: #EAFCF4;
   font-family: 'Lora', sans-serif !important;
}
html{
   font-family: 'Lora', sans-serif !important;
}



/* .hover:hover {
    color: black;
    background-color: #EAFCF4;
    color: rgb(36, 116, 190);
    box-shadow: -2px 2px 15px 0px rgba(0, 0, 0, 0.75);
    background-color: #66a3a0;
    border: 2rem grey;
    transform: scale(1.2);
    transition: all 0.5s ease-in-out 0s;
}

a {
    text-decoration: none;
} */
.bouton_vert{
 background-color: #98C1D9;
 color:white;
 padding: 0.3rem 1rem;
 border: none;
}

#inscription{
  border-right: 1px solid rgb(0, 0, 0);
}

/********************************************************* CONNEXION *********************************************************/
/* .form {
    margin-top: 350px !important;

} */


/***************************************************** ACCUEIL ADMIN *****************************************************/
/* Hover list */
/* .secondary:hover {
    background-color: #5a6268 !important;
    color: #fff;
}

.info:hover {
    background-color: #138496 !important;
    color: #fff;
}

.primary:hover:hover {
    background-color: #0069d9 !important;
    color: #fff;
} */

/* bootton de déconnexion */
/* a>.btn .btn-danger .rounded-pill .offset-10 {
    background: red !important;
    color: #fff;
    box-shadow: -6px 6px 0 blue;
} */

/* Menu accueil admin */
/* .listAdmin {
    margin: 0 auto;
    margin-top: 15rem;
} */

/********************************** DECONNEXION **********************************/
/* .admin-btn {
    top: 0;
    left: 0;
    transition: all .15s linear 0s;
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    background-color: #befcfe;

    text-transform: uppercase;
    color: grey;
    font-family: arial;
    letter-spacing: 1px;
    box-shadow: -6px 6px 0 black;
} */


/*************************************** font général  ***************************************

/* p {
  text-align: justify;
} */

em {
  font-weight: lighter;
  font-style: italic;
  font-size: 0.8rem;
  color: rgb(69, 70, 70);

}

/* hover pour les boutons "qui, séance, témoignages, blog" */
.hover:hover {
  color: black;
  background-color: #EAFCF4;
  color: #6C969D;
  background-color: #EAFCF4;
  transform: scale(1.1);
  transition: all 0.5s ease-in-out 0s;
  cursor: pointer;
}

/*************************************** HEADER & FOOTER ***************************************/
/* header {
  border-bottom: 2px solid black;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
} 

hr {
  width: 75rem;
  border: 1px solid #d3d3d3;
}


/****************************** header****************************************/

.bouton_vert{
 background-color: #98C1D9;
 color:white;
 padding: 0.3rem 1rem;
 border: none;
}
/* pour gérer la taille de la font sous le logo */
.logo{
  font-size: .8rem;
  text-align: center;
}
/* pour gérer la taille du H1, trop grand si pas gérer */

.accueil{
  font-size: 1.4rem;
}
.telephone{
  cursor:default!important;
}

.bouton_vert.article{
 background-color: transparent;
 border: 2px solid #98C1D9;
 color: #98C1D9;
}

.bouton_vert.voir_plus {
  margin-bottom: 3rem;
}

.bouton_vert.blue {
  font-size: 1.3rem;
  background-color: #6C969D;
}

.button_image {
  width: 3rem;
  display: block;
  margin: 2rem auto;
}


/*  */
aside>p>i {
  font-size: 0.6rem;
}

#navbarSecondaire {
  margin-left: 25.5rem;
}

.navbar-toggler {
  margin-top: 2.5rem;
  margin-left: 39.5rem;
}

.img-thumbnail {
  width: 100%;
}

.rounded :hover {
  width: 150px !important;
  /* on affiche l'image au carré */
  height: 150px !important;
  border-radius: 50% !important;
}

/*  */
/* aside>p>i {
  font-size: 0.6rem;
} */

 #navbarPrimaire{
  position: relative;
} 
 #border{
  border-right: 1px solid black;
  height: 7rem;
} 
